body {
    background-color: #3E416D;
}

a {
    display: inline-block;
    width: max-content;
    height: 25px;
    padding: 10px 5px 5px 5px;
    background-color: #62D76B;
    border-radius: 10px;
}