@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #0d1111;
    overflow: hidden;
    flex-direction: column;
}

h1 {
    color: #f1f1f1;
    margin: 10px;
}

#todo-form {
    flex-direction: row;
    margin: 20px;
    padding: 0px;
    flex-wrap: wrap;
}

#todo-input {
    width: 65%;
    padding: 10px;
    border: 1px solid #6995bf;
    border-radius: 6px;
    background-color: #FFFFFF;
}
select #due-date {
    width: 33%;
    border: 1px solid #6995bf;
    border-radius: 6px;
    background-color: #FFFFFF;
    flex-direction: column;
    flex-wrap: row wrap;
}

#add-button {
    width: 25%;
    padding: 10px 20px;
    background-color: #6995BF;
    color: #f1f1f1;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#add-button:hover {
    background-color: #1C5893;
}

#todo-list {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    width: 80%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #todo-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #todo-list li:last-child {
    border-bottom: none;
  }
  
  #todo-list button {
    background-color: #ff4b5c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #todo-list button:hover {
    background-color: #ff1e3d;
  }

@media (max-width: 320px) {
    #todo-form {
        align-items: center;
        justify-content: center;
        display: flex;
    }
}