:root {
  --bg: rgb(9, 9, 11);
  --clr-grey: rgba(128, 128, 128, 0.493);
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--bg);
  margin: 0;
  color: white;
}

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

.btn {
  padding: 0.5rem 1rem;
  background: var(--bg);
  color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
}

header {
  background: var(--bg) / 0.6;
  color: white;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.493);
}

.bold {
  font-size: 1.3rem;
  font-weight: bold;
}

.container {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 3.5rem;
  max-width: 1536px;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }

  i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    width: 36px;
    height: 36px;
    border-radius: 0.5rem;
  }

  a {
    color: gray;
    text-decoration: none;
    font-size: 1em;
  }

  a:hover {
    color: white;
  }

  i:hover {
    background: gray;
  }
}

.navbar {
  background: var(--bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  ul {
    gap: 1.5rem;
  }
}

.logo {
  font-weight: bold;
  display: flex;
  align-items: center;

  span {
    padding-bottom: 0.55rem;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 0.55rem;
  flex: 1;
}

.search-container {
  display: flex;
  justify-content: flex-end;
}

.search-text {
  padding-left: 1rem;
}

kbd {
  background: gray;
  color: white;
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
  font-size: 0.6rem;
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
  background: transparent;
  border: 1px solid gray;
  border-radius: 0.5rem;
  width: 16rem;
  height: 30px;
}

.btn-search:hover {
  color: white;
  background-color: grey;
}

.showcase-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
}

.btn-intro {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background-color: hsl(240 3.7% 15.9%);
  height: 2rem;
  width: 15rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

.padding-1 {
  padding-right: 5px;
}

.text-center {
  font-size: 1.2rem;
}

.link-container {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;

  a {
    color: gray;
    font-size: 1rem;
  }
}
